flows.json
[{"id":"5dea5e7d.65694","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"6cc43f17.82051","type":"ibmiot in","z":"5dea5e7d.65694","authentication":"apiKey","apiKey":"d31901b3.d0d9c","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"","applicationId":"","deviceType":"+","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":true,"allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":true,"qos":0,"x":90,"y":120,"wires":[["a4fe618.feb71a","c10e97a5.05aed8","6a4f343b.1009fc","cd70a68e.2841d8","ba1f10e3.01ea8"]]},{"id":"a4fe618.feb71a","type":"function","z":"5dea5e7d.65694","name":"weight","func":"global.set('l',msg.payload.d.ldrvalue)\nmsg.payload=msg.payload.d.ldrvalue\nreturn msg;\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":370,"y":60,"wires":[[]]},{"id":"c10e97a5.05aed8","type":"function","z":"5dea5e7d.65694","name":"distance","func":"global.set('d',msg.payload.d.distance)\nmsg.payload=msg.payload.d.distance\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":380,"y":100,"wires":[[]]},{"id":"ba1f10e3.01ea8","type":"debug","z":"5dea5e7d.65694","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":350,"y":220,"wires":[]},{"id":"9fe0208b.f4766","type":"http in","z":"5dea5e7d.65694","name":"","url":"/data","method":"get","upload":false,"swaggerDoc":"","x":140,"y":320,"wires":[["32b11dc0.439672"]]},{"id":"d1e236d3.c73e08","type":"http response","z":"5dea5e7d.65694","name":"","statusCode":"","headers":{},"x":610,"y":320,"wires":[]},{"id":"32b11dc0.439672","type":"function","z":"5dea5e7d.65694","name":"","func":"msg.payload={\n    \"distance\":global.get('d'),\n    \"ldrvalue\":global.get('l'),\n       \"longitude\":global.get('o'),\n    \"latitude\":global.get('a'),\n\n}\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":360,"y":320,"wires":[["d1e236d3.c73e08"]]},{"id":"6a4f343b.1009fc","type":"function","z":"5dea5e7d.65694","name":"longitude","func":"global.set('o',msg.payload.d.longitude)\nmsg.payload=msg.payload.d.longitude\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":360,"y":140,"wires":[[]]},{"id":"cd70a68e.2841d8","type":"function","z":"5dea5e7d.65694","name":"latitude","func":"global.set('a',msg.payload.d.latitude)\nmsg.payload=msg.payload.d.latitude\nreturn msg;\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":360,"y":180,"wires":[[]]},{"id":"d5eb9cce.df8e6","type":"worldmap","z":"5dea5e7d.65694","name":"","lat":"17.5208","lon":"78.6307","zoom":"18","layer":"OSM","cluster":"","maxage":"","usermenu":"show","layers":"show","panit":"false","panlock":"false","zoomlock":"false","hiderightclick":"false","coords":"deg","showgrid":"false","allowFileDrop":"false","path":"/worldmap","x":540,"y":420,"wires":[]},{"id":"50de628a.5e3cdc","type":"function","z":"5dea5e7d.65694","name":"","func":"msg.payload=\n{ \"name\":\"ecil\",\"lat\":17.5208,\"lon\":78.6307\n    \n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":360,"y":420,"wires":[["d5eb9cce.df8e6"]]},{"id":"3e1af2dc.8aac6e","type":"http in","z":"5dea5e7d.65694","name":"","url":"/worldmap","method":"get","upload":false,"swaggerDoc":"","x":160,"y":420,"wires":[["50de628a.5e3cdc"]]},{"id":"d31901b3.d0d9c","type":"ibmiot","name":"gcet","keepalive":"60","serverName":"","cleansession":true,"appId":"","shared":false}]