flows.json
[{"id":"2e0674df.87aeec","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"491ccadc.fb1c14","type":"ibmiot in","z":"2e0674df.87aeec","authentication":"apiKey","apiKey":"d31901b3.d0d9c","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"","applicationId":"","deviceType":"+","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":true,"allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":150,"y":220,"wires":[["9f43945b.b27f48","aba90a9e.97cda8","285b2932.e05b96"]]},{"id":"285b2932.e05b96","type":"debug","z":"2e0674df.87aeec","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":390,"y":100,"wires":[]},{"id":"9f43945b.b27f48","type":"function","z":"2e0674df.87aeec","name":"Weight","func":"global.set('l',msg.payload.msg.payload.l.ldrvalue)\nmsg.payload=msg.payload.l.ldrvalue\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":390,"y":180,"wires":[[]]},{"id":"aba90a9e.97cda8","type":"function","z":"2e0674df.87aeec","name":"Level","func":"global.set('d',msg.payload.msg.payload.d.distance)\nmsg.payload=msg.payload.d.distance\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":390,"y":260,"wires":[[]]},{"id":"2b730fd8.d1ecc","type":"http in","z":"2e0674df.87aeec","name":"get/value","url":"/value","method":"get","upload":false,"swaggerDoc":"","x":140,"y":400,"wires":[["ea1a50b2.f7675"]]},{"id":"ea1a50b2.f7675","type":"function","z":"2e0674df.87aeec","name":"","func":"msg.payload= {\n    \"Level\":global.get('d'),\n    \"Weight\":global.get('l')\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":340,"y":460,"wires":[["4bf69334.479bcc"]]},{"id":"4bf69334.479bcc","type":"http response","z":"2e0674df.87aeec","name":"","statusCode":"","headers":{},"x":510,"y":400,"wires":[]},{"id":"d31901b3.d0d9c","type":"ibmiot","name":"gcet","keepalive":"60","serverName":"","cleansession":true,"appId":"","shared":false}]